html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width:100%;
  background-color:#CCC;
}

#overlay{
  width: 100%;
  height: 100%;
}

#videoWrap {
  left:50%;
  top:50px;
  margin-left:-354px;
  width:708px;
  height:396px;
  position: absolute;
  z-index:1;
}
#videoWrap video{
  position:absolute;
}
.flash{
  width:100%;
  height:100%;
  background-color:#FFF;
  position:absolute;
  z-index:100;
  display:none;
}
#control{
  cursor:pointer;
  position:absolute;
  bottom: 64px;
  left:50%;
  z-index:102;
  background-repeat:no-repeat;
  margin-left:-16px;
  width:32px;
  height:32px;
}
#control.play{
  background-image:url('../images/play_button.png');
  background-size: 32px 32px;
}
#control.shot{
  background-image:url('../images/snapshot.png');
}

#decviceWrap{
  left:50%;
  top:30px;
  width:708px;
  height:462px;
  position:absolute;
  z-index:100;
  margin-left:-354px;
}
#device{
  left:233px;
  width:243px;
  height:462px;
  position:absolute;
  z-index:101;
}
#device .shell{
  background-image:url('../images/device.png');
  width:100%;
  height:100%;
}
#output{
  width:100%;
  text-align:center;
  height:150px;
  position:absolute;
  top:476px;
}
#output canvas{
  cursor:pointer;
}
#filter{
  position:absolute;
  top:0;
  padding: 5px;
  margin:10px;
  width:150px;
}
#filter ul{
  list-style-type:none;
  margin:0;
  padding:0 10px 0 0;
}
#bg{
  position:absolute;
  left:-9999px;
}

.preview{
  display:none;
  top:10px;
  position:absolute;
  left: 50%;
  z-index:150;
  margin-left: -150px;
  width:300px;
  height:600px;
  -webkit-box-shadow: 0px 0px 30px #ccc;
  -moz-box-shadow: 0px 0px 30px #ccc;
  -o-box-shadow: 0px 0px 30px #ccc;
  background-image: url(../images/loading.gif);
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 3px;
}
.preview canvas{
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
